.navbar__wrapper {
	display: flex;
	background-color: azure;
	padding: 1em;
}
.navbar__logo {
	font-weight: 800;
	text-align: left;
}
.nav__ul {
	text-decoration: none;
	display: flex;
	align-items: center;
}
.nav__right {
	text-decoration: none;
	margin-left: auto;
}
